[Unit]
Description=Poe Bot Service
After=network.target

[Service]
Type=simple
User=root
Group=nogroup
LimitNOFILE=32768
Restart=on-failure
ExecStart=//usr/local/bin/chatbot -config=/etc/chatbot/config.json

[Install]
WantedBy=multi-user.target